# preStop hook scripts
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: '{{ ansible_operator_meta.name }}-{{ deployment_type }}-pre-stop-scripts'
  namespace: '{{ ansible_operator_meta.namespace }}'
  labels:
    app.kubernetes.io/name: '{{ ansible_operator_meta.name }}'
    app.kubernetes.io/part-of: '{{ ansible_operator_meta.name }}'
    app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
    app.kubernetes.io/component: '{{ deployment_type }}'
    app.kubernetes.io/operator-version: '{{ lookup("env", "OPERATOR_VERSION") }}'
data:
  termination-master: |
    {{ lookup("file", "files/pre-stop/termination-master") | indent(width=4) | trim }}
  termination-waiter: |
    {{ lookup("file", "files/pre-stop/termination-waiter") | indent(width=4) | trim }}
  termination-env: |
    {{ lookup("file", "files/pre-stop/termination-env") | indent(width=4) | trim }}
